body {
    font-family: sans-serif;
}
.link-header{
    text-decoration: none;
    font-size:35px;
    color:rgb(60, 108, 47);

}
header{
    background-color: rgb(214, 255, 201);
  
}
main{
    background-color: rgb(214, 255, 201);
}
span{
    background-color: rgb(134, 188, 134);
}
nav a{
    text-align:center;
    text-decoration:none;
    padding:10px;
    background-color: rgb(239, 250, 237);
    box-shadow: 4px 4px 5px rgb(34, 21, 13);
    color: rgb(3, 60, 3);
   
}
nav{
    margin:40px;
    display: flex;
    justify-content: space-around; 
}
h1 {
    text-align: center;
    margin: 60px;
}
.social{
    float:right;
    margin:10px;
}
body{
    background-color: rgb(212, 255, 212);
}
li{
    font-size: 20px;
    margin:10px;
    color: rgb(4, 26, 4);
}
